<div class="col-10 offset-1">
  <h1>Things we learned</h1>
  <div class="row">
    <% @things.each do |thing| %>
    <div class="col-sm-auto skill">
    <strong><%= thing.skill %></strong>
  <br />
  <p class="text-right">&mdash;&nbsp;<%= thing.name %></p>
    </div>
    <% end %>
  </div>
</div>
