<body>
  <div class="main center-flex">
    <div class="message">
      <h1>Bootcamp Quiz #1</h1>
      <h2>What's inside?</h2>
      <div class="items">
        <ul>
          <li>
            Rails app structure
          </li>
          <li>
            CSS Flexbox and Grid styling
          </li>
          <li>
            Google fonts
          </li>
          <li>
            Full viewport background with gradient overlay
          </li>
          <li>
            Passion for learning :)
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>